html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.BG {
  background-image: url(./imgs&gifs/OIP.png);
  background-size: cover;
}
.Root {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.Window {
  position: relative;
  display: block;
  border: solid;
  width: fit-content;
  border-radius: 25px;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.sep {
  margin: 0 -15px;
  padding: 0;
  border: none; /* removes default line */
  height: 2px; /* your custom line thickness */
  background: #000;
}
.title {
  margin: 0px;
  padding-top: 0px;
}
.closeBtn {
  font-size: 14px;
  padding: 4px 10px;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.TopBar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: lightblue;
  bottom: 0%;
  left: 0%;
  width: 99vw;
  z-index: 9999;
  padding: 10px;
}
